# Windows
Thumbs.db
desktop.ini

# Temporäre Dateien, Archive und Executables
.vs/
*.tmp
*.log
*.bak
*.zip
*.7z
*.exe

# Lokale Umgebungsvariablen / Secrets
.env
secrets.txt
credentials.txt
config.local.*
*.local

# PowerShell lokal installierte Module, falls vorhanden
modules/

# Output-Ordner
out/
build/
dist/
bin/
obj/
